.project-container {
  border: solid 2px #f4f6f7;
  max-width: 300px;
  border-radius: 30px;
}

.img-container {
  background-color: #e9e9e9;
  border-radius: 30px;
}

.project-img {
  width: 250px;
  border-radius: 30px;
  padding: 20px;
}
