:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #fafcfd;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 130px 65px 0 65px;
}

button {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  margin: 0;
}
